{{!-- <p><img id="{{id}}"src="assets/img/eatFlat/32x32.png"> <img src="assets/img/burgerFlat/32x32.png"> {{burger_name}}</p> --}}

{{#if eaten}}
	<p><img <img src="assets/img/minusFlat/64x64.png"> {{burger_name}}</p>
{{else}}
	<p><img data-id="{{this.id}}" class="eat-burger" src="assets/img/eatFlat/64x64.png"> <img src="assets/img/burgerFlat/64x64.png"> {{burger_name}}</p>
{{/if}}